apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: shopping-mart

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - postgres-pvc.yaml
  - redis-pvc.yaml
  - postgres-deployment.yaml
  - redis-deployment.yaml
  - backend-deployment.yaml
  - frontend-deployment.yaml
  - ingress.yaml
  - hpa.yaml
  - job-init-db.yaml

commonLabels:
  app: shopping-mart
  managed-by: kustomize
