apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: shopping-mart

resources:
  - namespace.yaml
  - secret.yaml
  - postgres-pvc.yaml
  - redis-pvc.yaml
  - postgres-deployment.yaml
  - redis-deployment.yaml
  - backend-deployment.yaml
  - frontend-deployment.yaml
  - ingress.yaml
  - hpa.yaml
  - job-init-db.yaml

labels:
  - pairs:
      app: shopping-mart
      managed-by: kustomize

configMapGenerator:
  - name: shopping-mart-config
    literals:
      - APP_NAME=Shopping Mart System
      - DEBUG=False
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=30
      - REFRESH_TOKEN_EXPIRE_DAYS=7
      - POSTGRES_DB=shopping_mart
      - POSTGRES_USER=postgres
      - REDIS_HOST=redis-service
      - REDIS_PORT=6379
      - DATABASE_URL=postgresql://postgres:$(POSTGRES_PASSWORD)@postgres-service:5432/shopping_mart
      - REDIS_URL=redis://redis-service:6379/0
      - VITE_API_BASE_URL=http://localhost:8000/api/v1
